{% extends 'base.html' %}
{% block content %}
<!-- <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="document">
    <button type="submit">Upload file</button>
  </form>
  {% if url %}
    <p>Uploaded file: <a href="{{ url }}">{{ url }}</a></p>
  {% endif %} -->

<div class="card col-12 row justify-content-center frame">
  <div class="card-body col-10">
    <h1 class="title">Personalize your GIF</h1>

    <div class="card">
      <form action="/external/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <br>
        Enter name of the sender:
        <input class="container-fluid" type="text" name="param" required><br><br>

        <!-- <div class="dropzone">
        <img src="http://100dayscss.com/codepen/upload.svg" class="upload-icon" />
        <input type="file" name="video" accept="video/mp4,video/x-m4v,video/*" class="upload-input" required>
      </div> -->

        <input type="file" name="video" accept="video/mp4,video/x-m4v,video/*" class="input-btn" required>
        <br>
        <input type="submit" class=" btn" value="Create GIF">

      </form>
    </div>
  </div>

  {% if raw_url or edit_url %}
    <div class="card-body col-9">
      Your Personalised GIF is ready!:
      <p><a class="btn" style="color:black;" rel="{{ edit_url }}"> {% csrf_token %} Preview</a></p>
      <div class="img">
        {% csrf_token %}
        <img src={{edit_url}} height=100 width=100>
      </div>
    </div>

    <button class=" btn" onclick="myFunction()">Insert Gif</button>

    <p id="demo"></p>

    <script>
      function myFunction() {
        document.getElementById("demo").innerHTML = "Hello World";

        var imageBase64Data = 'data:image/gif';//truncated the actual base64 data as its too  long
        $.ajax({
          type: 'put',
          url: 'https://gifpersonalizerstorage.blob.core.windows.net/media/temp.gif',
          data: {
            image: imageBase64Data
          },
          error: function (e) {
            console.error(e);
          },
          success: function (response) {
            console.log(response);
            var imageHTML = "<img " +
              "src='" + response + "' img/>";
            console.log(imageHTML);

            //Add an image as a link
            Office.cast.item.toItemCompose(Office.context.mailbox.item).body.setSelectedDataAsync(imageHTML, {
              coercionType: Office.CoercionType.Html,
            },
              function (asyncResult) {
                if (asyncResult.status === Office.AsyncResultStatus.Failed) {
                  app.showNotification("Action failed with error: " + asyncResult.error.message);
                }
              });
          }
        });
      }
    </script>
{% endif %}
</div>
{% endblock %}
